/* app/styles/Profile.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  min-height: 100vh;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.main {
  width: 100%;
  max-width: 75rem;
  background: #fff;
  padding: 1.25rem;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  height: 10rem;
}

.profilePic {
  margin-right: 1.25rem;
}

.profileImage {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  flex: 1;
}

.profileHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.profileHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.followButton {
  background: #000;
  color: #fff;
  border: none;
  padding: 0.5rem 0.875rem;
  border-radius: 0.675rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
}

.tabs {
  display: flex;
  justify-content: flex-start;
  border-top: 1px solid #eee;
  padding-top: 0.5rem;
}

.tabButton {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 0;
  margin-right: 1.25rem;
  text-align: center;
  border-bottom: 0.13rem solid transparent;
}

.tabButton:hover,
.tabButton:focus {
  border-bottom: 0.13rem solid #000;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.25rem;
  margin-top: 1.25rem;
}

.post {
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.postInfo {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.postInfo p {
  margin: 0;
  font-size: 1.88rem;
}

.postInfo span {
  font-size: 1.13rem;
  color: #888;
}
