/* styles/slider-custom.css */

/* 슬라이더의 기본 스타일을 변경 */
.custom-slider .slick-slide {
  padding: 0 10px; /* 카드 간의 간격 조정 */
}

.slide-item {
  display: flex;
  justify-content: center;
}

/* 슬라이더의 기본 스타일을 덮어쓰기 */
.slick-slide > div {
  margin: 0 10px 0 0; /* 카드 간의 간격 조정 */
} 